.nav-wrapper nav {
  background-color: grey;
}

section.cultureHome.hero.is-fullheight {
  background-image: url('../src/images/cultureImg/music/gig.jpeg');
  background-size: cover;
}

.vaultlogo img {
    transform: scale(5);
    margin: 2px;
    margin-top:6px;
    }
    

     .img:hover {
      transform: scale(1.1);
      }
    
      .img {
        transition: all 0.5s;
        width: 200px;
        height: 280px;
        margin-bottom: 5px;
      }
    